body {
    font-family: Arial, sans-serif;
    background-color: #FF91A4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

h3 {
    color: #555;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

p {
    color: #555;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    margin-bottom: 10px;
}

li img {
    vertical-align: middle;
    margin-right: 5px;
}
img {
        display: block;
		margin: 0 auto;
		border-radius: 50%;
		margin-top: 20px;
}

p {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 600px;
}

table td {
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style pour le conteneur de navigation */
.navigation__container {
    display: flex;
    justify-content: center;
    background-color: #ffcccc; /* Remplacez par la couleur de fond souhaitée */
}

/* Style pour la liste de navigation */
.navigation__list {
    display: flex;
    margin: 0; /* Ajout pour réinitialiser la marge */
}

/* Style pour chaque élément de la liste */
.navigation__list a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    color: #333; /* Couleur du texte */
    font-weight: bold;
}

/* Style pour le survol des liens */
.navigation__list a:hover {
    color: black; /* Couleur du texte au survol */
    background-color: #fff; /* Couleur de fond au survol */
}
